/* ========================
    A N I M A T I O N S
======================== */

.hero-slide-in-left {
  animation:
    hero-slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3500ms both;
  ;
}

.hero-slide-in-bottom {
  animation:
    hero-slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2600ms both;
  ;
}

.hero-slide-in-bottom-2 {
  animation:
    hero-slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3000ms both;
  ;
}

.hero-slide-in-right {
  animation:
    hero-slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4500ms both;
  ;
}

@keyframes hero-slide-in-left {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-slide-in-right {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes hero-slide-in-bottom {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes blink {
  0% {
    background-color: var(--main-color);
  }

  49% {
    background-color: var(--main-color);
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: var(--hero-color);
  }
}


@keyframes scale-up-center {
  0% {
    transform: scale(.2);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    transform: scale(.2);
    opacity: 0;
  }
}

/* ===================
    U T I L I T Y
=================== */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 400ms ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.box-shadow {
  /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); */
  box-shadow: 7px 7px 15px -11px rgb(0 0 0 / 73%);
  animation: fade-in 500ms ease both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ================================
    A N I M A T I O N - B U L K
================================ */
/* provided by animista.net */

.slide-in-top {
  animation: slide-in-top 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slide-in-right 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slide-in-bottom 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scale-in-center {
  animation: scale-in-center 600ms cubic-bezier(.25, .46, .45, .94) both;
  image-rendering: -moz-crisp-edges;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-in-tr {
  animation: slide-in-tr 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-tr {
  0% {
    transform: translateY(-250px) translateX(250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-br {
  animation: slide-in-br 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-br {
  0% {
    transform: translateY(250px) translateX(250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-bl {
  animation: slide-in-bl 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-bl {
  0% {
    transform: translateY(250px) translateX(-250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-tl {
  animation: slide-in-tl 600ms cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-in-tl {
  0% {
    transform: translateY(-250px) translateX(-250px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}


.floating {
  animation: floating 2000ms ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}