* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(5, 100vh);
}

nav {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  position: fixed;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  transform: rotate(-90deg);
  padding: 4px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.container-1 {
  background-color: #455;
  display: grid;
  grid-area: 1 / 2 / 2 / -1;
}

.container-2 {
  background-color: #f38;
  display: grid;
  grid-area: 2 / 2 / 3 / -1;
}

.container-3 {
  background-color: #629;
  display: grid;
  grid-area: 3 / 2 / 4 / -1;
}

.container-4 {
  background-color: #5f1;
  display: grid;
  grid-area: 4 / 2 / 5 / -1;
}

.container-5 {
  background-color: #39f;
  display: grid;
  grid-area: 5 / 2 / 6 / -1;
}