/* ================
    G L O B A L
================ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  --nav-color: #1F1E1F;
  --hero-color: #020122;
  --wilmxre-color: #FC9E4F;
}

body {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: repeat(5, 100vh);
  overflow: hidden;
}

/* ========================
    N A V I G A T I O N
======================== */
nav {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  position: fixed;
  width: 90px;
  height: 100vh;
  align-items: center;
  justify-items: center;
  background-color: var(--nav-color);
}

nav a {
  text-decoration: none;
  transform: rotate(-90deg);
  padding: 2px 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(240, 240, 240, .4);
  transition: all 300ms linear;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

nav a:hover,
nav a.active {
  color: rgb(255, 255, 255, 1);
}

/* ====================
    S E C T I O N S
==================== */
section {
  min-height: 100vh;
}

#wilmxre {
  background-color: var(--wilmxre-color);
  display: grid;
  grid-area: 1 / 2 / 2 / -1;
}

#wilmxre .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  user-select: none;
}

#wilmxre h2 {
  color: var(--hero-color);
  font-size: 3rem;
}

#wilmxre .hero-letters {
  display: flex;
  gap: 20px;
  color: var(--hero-color);
  letter-spacing: -.1em;
  font-size: 6rem;
}

.hero-letters .letter {
  color: rgb(2, 1, 34, .85);
  transition: color .2s;
}

.hero-letters .letter:hover {
  color: rgb(0, 0, 0, 1);
  transition: color .2s;
}

#wilmxre h3:hover {
  background-color: var(--hero-color);
  color: transparent;
  text-shadow: 2px 2px 3px rgb(2, 1, 34, .5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

#wilmxre h3 {
  color: var(--hero-color);
  font-size: 2.5rem;
}











#work {
  background-color: #f38;
  display: grid;
  grid-area: 2 / 2 / 3 / -1;
  min-height: 100vh;
}

#about {
  background-color: #629;
  display: grid;
  grid-area: 3 / 2 / 4 / -1;
}

#contact {
  background-color: #5f1;
  display: grid;
  grid-area: 4 / 2 / 5 / -1;
}

#cv {
  background-color: #39f;
  display: grid;
  grid-area: 5 / 2 / 6 / -1;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}